* {
    font-family: sans-serif;
}

#Student_ID {
  text-align: center;
  font-size: 27px;
  padding-top: 30px;
}

#query {
  font-size: 23px;
}

#timestamp {
  font-size: 16px;
}

#information {
  text-align: center;
}

h1 {
  text-align: center;
}

select {
  width: 50px;
  height: 25px;
  margin: 5px;
}

input {
  width: 80px;
  height: 25px;
  margin: 5px;
}

#pw {
  width: 120px;
  height: 25px;
  margin: 5px;
}

#link_button {
  margin-top: 30px;
}

#link_button_pma {
  width: auto;
  font-size: 15px;;
}

#red {
  color: red;
}

table {
  width: 450px;
  height: auto;
  text-align: center;
  border: 1px solid #000000;
  border-collapse: collapse;
  margin-left: 75px;
  margin-top: 50px;
}

thead {
  font-weight: bolder;
  width: auto;
  height: auto;
}

th, td {
  border: 1px solid #777777;
}
